*{
    padding:0px;
    margin:0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(135deg,pink , purple);
    padding:10px;

}
.todo{
    width:100%;
    max-width:540px;
    padding:30px 20px 60px;
   
    margin: 30px auto 20px;
    border-radius: 20px;
    background-color: azure;
}
.todo h2{
    color: purple;
    display:flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 60px;
}
.row{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background: pink;
    border-radius :30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border:none;
    outline:none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}
button{
    border: none;
    outline: none;
    padding:16px 50px ;
    background-color: plum;
    color:blueviolet;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}
ul li{
    padding-left: 30px;
    padding-top:8px;
    list-style: none;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
    position:relative;
}
ul li::before{
    content:'';
    position: absolute;
    height:28px;
    width:28px;
    border-radius: 50%;
    background-image: url('heartuncheck.jpg');
    
    background-size: cover;
    background-position: center;
    top:6px;
    left:2px;
    right: 6px;
}
ul li.checked{
    color:rgb(133, 4, 4);
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('heartchecked.jpg');
    background-size:cover;

}
ul li span{
    position :absolute;
    right:0;
    top:7px;
    width:20px;
    height:20px;
    font-size: 20px;
    color:black;
    text-align: center;
    border-radius:50%;
 
}
ul li span:hover{
    background-color: violet;
    background-size: cover;
    cursor:grab;
}
